doctype html
html
  head
    title= title
    // Bootstrap 3.3.6
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    //Font Awesome
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    //Ionicons
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    // Theme style
    link(rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css")
    //iCheck
    link(rel="stylesheet" href="/AdminLTE/plugins/iCheck/square/blue.css")
  body
    block content
